header{
	background-color: red; 
	clear: left;
	width: 100%;
    float: right;
    margin-bottom: 20px;




}
section { background-color: grey;
 }

.Ourmenu{color: red;
text-align: center;

}

#nav-list{
	margin-top: 100px;
	text-align: center;

}

#nav-list a {margin-top: 2px;
	color:  green;
	font-size: 20px;
	width: 100%;
	height: 10%;
}


#nav-list a:hover{
	background-color: orange;
}
